body {
  margin: 0;
  line-height: normal;
}
button:disabled {
  &:hover {
    cursor: not-allowed;
  }
}

a {
  cursor: pointer;
}

main {
  padding: 10px;
}

.calendar-container {
  height: calc(100vh - 128px);
  min-height: 50vh;
}

.main-container {
  height: calc(100vh - 64px);
  min-height: auto;
}

.hover {
  cursor: pointer;
}

.calendar-nav-header {
  width: 30%;
}

.unstyled-link {
  a {
    text-decoration: none;
    color: inherit;
  }
}

tr:nth-child(odd) {
  background: rgb(241, 239, 239);
}

tr:nth-child(even) {
  background: white;
}

.sticky {
  position: sticky;
  left: 0;
  background: inherit;
}

.reservation-table-head-row {
  th {
    font-weight: bold;
  }
}

input:invalid {
  border-color: red;
}

.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-large {
  #notes {
    margin-top: 10px;
  }
  position: absolute;
  transform: translate(-50% -50%);
  height: 90vh;
  width: 90vw;
  background-color: #FFFFFF;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  .reservation-buttons {
    width: 30%;
  }
}

.demographics-container {
  div {
    margin: 10px;
  }
}

.view-reservation-add-calendar-modal {
  min-width: 50%;
}

.notes-title-and-member-select {
  min-width: 40%;
  width: 50%;
  margin: 15px;
}

.date-range-picker {
  border: 1px solid red;
}

@media screen and (max-width: 600px) {
  .modal-large {
    .reservation-buttons {
      width: 65%;
    }
  }
  .calendar-container {
  height: calc(100vh - 112px);
  min-height: 75vh;
  }
  .main-container {
    height: auto;
  }
  .view-reservation-add-calendar-modal {
    min-width: 80%;
  }
  .notes-title-and-member-select {
    width: 70%;  
  }
}