body {
  margin: 0;
}
button:disabled {
  &:hover {
    cursor: not-allowed;
  }
}

a {
  cursor: pointer;
}

main {
  padding: 10px;
}

.hover {
  cursor: pointer;
}

.calendar-container {
  margin-top: 1px;
}

.calendar-nav-header {
  width: 30%;
}

.unstyled-link {
  a {
    text-decoration: none;
    color: inherit;
  }
}

tr:nth-child(odd) {
  background: rgb(241, 239, 239);
}

tr:nth-child(even) {
  background: white;
}

.sticky {
  position: sticky;
  left: 0;
  background: inherit;
}

.reservation-table-head-row {
  th {
    font-weight: bold;
  }
}

input:invalid {
  border-color: red;
}

.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
//   background-color: #FFFFFF;
}

.modal-large {
  position: absolute;
  transform: translate(-50% -50%);
  height: 90vh;
  width: 90vw;
  background-color: #FFFFFF;
  border: 2px solid #000;
  box-shadow: 24px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.demographics-container {
  div {
    margin: 10px;
  }
}